<!doctype html>
<title>frigate-make-clip</title>
<head>
    <style>
        body, input, button, select, option{
            font-size: xx-large;
        }
        .hidden{
            display:none;
        }
      </style>
</head>
<body>
    <h2 id="downloading" class="hidden">File is downloading. Check your Downloads folder.</h2>
    <p>Choose a camera, start time, and end time.</p>
    <p>Camera</p>
    <select id="camera-name">
        {% for camera_name in camera_names %}
            <option value="{{camera_name}}">{{camera_name}}</option>
        {% endfor %}
    </select>
    <p>Start</p>
    <input id="start-date" type="date"/>
    <input id="start-time" type="time"/>
    <p>End</p>
    <input id="end-date" type="date" />
    <input id="end-time" type="time" />
    <br/>
    <br/>
    <button id="download-clip-btn">Download Clip</button>
    <p>Version 1.2.0e</p>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            document.getElementById('start-date').valueAsDate = new Date();
            document.getElementById('end-date').valueAsDate = new Date();
            document.getElementById('start-time').value = '12:00'
            document.getElementById('end-time').value = '13:00'
            document.getElementById('download-clip-btn').onclick = ()=>{
                document.getElementById('downloading').classList.add('hidden')
                let camera_name = document.getElementById('camera-name').value
                let start_date = document.getElementById('start-date').value
                let start_time = document.getElementById('start-time').value.replace(':','-')
                let end_date = document.getElementById('end-date').value
                let end_time = document.getElementById('end-time').value.replace(':','-')
                window.location=`/api/clip/download?camera_name=${camera_name}&start_date=${start_date}&start_time=${start_time}&end_date=${end_date}&end_time=${end_time}`
                document.getElementById('downloading').classList.remove('hidden')
            }
        });
    </script>
</body>